@import url("./colors.css");
@import url("./fonts.css");

:root {
  --font-header: "Neucha", sans-serif;
  --font-main: "OpenSans Regular", sans-serif;
}

* {
  box-sizing: border-box;

  margin: 0;
}

body {
  color: var(--dark);
  font-size: 16px;
  font-family: var(--font-main);
  line-height: 1.6em;
}

h1,
h2,
h3,
.h3 {
  font-weight: 400;
  font-family: var(--font-header);
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3,
.h3 {
  font-size: 34px;
}

h4 {
  font-size: 14px;
}

section,
header,
footer {
  padding: 100px 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

/* -----------------------------Positions-------------------------------------- */

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.p-0 {
  padding: 0;
}

.p-1rem {
  padding: 1rem;
}

.p-2rem {
  padding: 2.5rem 3.5rem;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-200 {
  padding-top: 200px;
}

.mt-5 {
  margin-top: 5%;
}

.mt-88 {
  margin-top: 88px;
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-2rem {
  margin-bottom: 1.85rem;
}

.mt-minus-100px {
  margin-top: -100px;
}

/* супер костыль, который надо будет обязательно переработать */

* > p {
  margin-top: 1em;
  margin-right: 0;
  margin-bottom: 1em;
  margin-left: 0;
}

* > p:first-child {
  margin-top: 0;
}

* > p:last-child,
.column-section > p:first-child {
  margin-bottom: 0;
}

/* ----------------------------Flex-------------------------- */
.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-between {
  justify-content: space-between;
}

.flex-container > .column {
  flex-shrink: 0.3;
  max-width: 49%;
}

.column-section {
  width: 45%;
}

.column-img {
  flex-basis: content;
}

.flex-center {
  align-items: center;

  justify-content: center;
}

.align-center {
  align-items: center;
}

.flex-center * {
  width: 100%;
}

.nowrap {
  flex-wrap: nowrap;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

/* -----------------------------Text---------------------------- */

.header-title {
  position: relative;
  z-index: 1;

  margin-bottom: 18%;
}

.text-white {
  color: var(--white);
}

.primary-dark {
  color: var(--primary-dark);
}

.primary-white {
  color: var(--primary-white);
}

.text-yellow {
  color: var(--main);
}

.text-brown {
  color: var(--brown);
}

.divider {
  display: block;

  width: 100%;

  margin-top: 100px;
  margin-bottom: 20px;
  padding: 5px 10px;

  font-weight: 700;

  line-height: 1.3rem;
  text-transform: uppercase;
}

.section-sub {
  font-size: 24px;
  font-family: "Neucha", sans-serif;
}

.ta-center {
  text-align: center;
}

.ta-left {
  text-align: left;
}

/* -----------------------------Visibility-------------------------- */

.ov-hidden {
  overflow: hidden;
}

/* -----------------------------Background--------------------------- */

.dark {
  background-color: var(--brown);
}

.light {
  background-color: var(--light);
}

.background-image {
  position: relative;
}

.background-light {
  position: relative;
}

.background-light::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;

  width: 100%;
  height: 100%;

  background-color: var(--light);
  background-size: cover;

  content: "";
}

.background-brown {
  position: relative;

  color: var(--white);
}

.background-brown::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;

  width: 100%;
  height: 100%;

  background-color: var(--brown);
  background-size: cover;

  content: "";
}

.background-dark {
  position: relative;

  background-color: var(--main-dark);
}

.background-image::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 100%;

  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: "";
}

/* -------------------------------Images-------------------------- */
img {
  max-width: 100%;
  height: auto;

  vertical-align: middle;
}

.img-header {
  position: absolute;
  top: -45px;
  right: -270px;

  height: 525px;
}

/* ------------------------------Buttons------------------------- */
.btn {
  display: inline-block;

  padding: 12px 24px;

  font-weight: bold;
  text-decoration: none;

  background: var(--main);
  outline: none;
}

.btn:hover,
.btn:focus {
  background-color: #ea7600;
}

.btn-send {
  position: relative;

  width: 70px;
  height: 50px;

  border: none;
}

.btn-send::before {
  position: absolute;

  top: 50%;
  left: 50%;

  width: 24px;
  height: 24px;

  background-image: url(../images/send.svg);
  transform: translate(-50%, -50%);

  content: '';
}

/* -----------------------------Video--------------------------- */
.video {
  z-index: 1;

  max-width: 919px;
  padding: 0;
}

/* -----------------------------Navigation------------------------ */
.nav-item {
  width: 350px;
  height: 338px;

  margin: 0.6em 0.83em;

  overflow: hidden;

  list-style: none;
}

.nav-header {
  font-size: 52px;
}

.flex-container > .nav-item {
  width: 31%;
}

/* еще один костыль */

.nav-list {
  width: 103%;
  margin-top: -10px;
  margin-left: -10px;
}

.nav-list > ul {
  padding: 0;
}

.nav-link {
  display: inline-block;
  width: 100%;
  height: 100%;

  padding: 24px;

  background-color: var(--light);
}

.nav-link:hover,
.nav-link:focus {
  background-color: var(--main);
}

.nav-link:hover *,
.nav-link:focus * {
  color: var(--white);
}

.nav-number {
  margin-bottom: 40px;

  font-size: 64px;
  font-family: "Neucha", sans-serif;
  line-height: 1;
}

.shadow {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.contacts {
  font-size: 14px;
}

.contacts a {
  color: var(--blue);
  text-decoration: underline;
}

.agreement {
  margin: 0;
  padding: 0;

  font-size: 12px;
}

input[id="email"] {
  height: 50px;
  padding: 15px;

  border: none;
}

.label-form {
  display: block;

  padding-bottom: 0.7em;

  font-size: 18px;
}

/* ------------------------ Tablet ------------------------- */

@media (max-width: 1110px) {
  .flex-container {
    justify-content: center;
  }

  .nav-list > .flex-container {
    align-items: center;
    justify-content: center;
    max-width: 900px;

    margin: 0 auto;
  }

  .flex-container > .nav-item {
    width: 40%;
  }

  .container,
  .column-section {
    width: 100%;
  }

  .nav-number {
    margin-bottom: 30px;
  }

  section,
  header {
    padding-right: 20px;
    padding-left: 20px;
  }

  h1,
  h2,
  h3 {
    text-align: center;
  }

  .order-2 {
    order: 0;
  }
}

/* ------------------------- Mobile ------------------------ */

@media (max-width: 576px) {
  section,
  header {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  footer {
    padding: 0 0 48px 0;
  }

  .p-2rem {
    padding-right: 20px;
    padding-left: 20px;
  }

  h1,
  .nav-header,
  .nav-number {
    font-size: 30px;
  }

  .nav-header-item {
    height: 100px;
  }

  .header-title {
    margin-bottom: 40px;
  }

  h2,
  h3,
  .h3 {
    font-size: 20px;
    line-height: 27px;
  }

  footer h3 {
    margin-bottom: 20px;
  }

  .section-sub {
    font-size: 12px;
  }

  .container,
  .column-section,
  .column-img {
    width: 100%;
  }

  .column {
    min-width: 100%;
  }

  .column-img {
    width: 100%;
  }

  .flex-container > .nav-item {
    width: 100%;
  }

  .img-header {
    display: none;
  }

  .divider {
    margin-top: 30px;
    margin-bottom: 20px;
  }
}
